
<nav class="navbar navbar-main navbar-expand-lg navbar-light border-bottom">
  <div class="container">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main_nav">
      <ul class="navbar-nav">
          <li class="nav-item dropdown">
           <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Electronic</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Mens Fashion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Kids toys</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Grocery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Furnitures</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"> More</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Foods and Drink</a>
            <a class="dropdown-item" href="#">Luggage</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Laptop bags</a>
            <a class="dropdown-item" href="#">Carry bags</a>
            <a class="dropdown-item" href="#">Hand bags</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>